<html>
<head>
	<title>CP750 Web Client</title>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<style>
		.dl-horizontal.commands .dt{
			width: 360px;
			text-align: left;
		}
	</style>
</head>
<body ng-app="App">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">

	<h1>CP750 Web Client</h1>
	<div ng-controller="Command-Ctrl">
		<h2>Commands</h2>

		<dl class="dl-horizontal commands">
		  <dt ng-repeat-start="cmd in commands">
		  	<span class="command__name">{{cmd.command}}</span>
		  </dt>
		  <dd ng-repeat-end>
				<span ng-if="cmd.input.values">
					<select ng-options="value for value in cmd.input.values" ng-model="test"></select>
				</span>
		  </dd>
		</dl>
	</div>
	<script>
		var app = angular.module('App', []);

		app.controller('Command-Ctrl', ['$scope', '$http', function($scope, $http){
			$http.get('/commands').then(function(res){
				$scope.commands = res.data;
			});
		}]);
	</script>
</body>
</html>