<html>
<head>
	<title>CP750 Web Client</title>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<style>
		tr td:first-child{
			text-align: right;
		}
	</style>
</head>
<body ng-app="App">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">

	<h1>CP750 Web Client</h1>
	<div ng-controller="Command-Ctrl">
		<h2>Commands</h2>

		<form class="form-horizontal">
		  <div class="form-group" ng-repeat="cmd in commands">
		    <label for="{{cmd.command}}" class="col-sm-5 control-label">
		    	<span class="command__name">{{cmd.command}}</span>
		    </label>
		    <div class="col-sm-3">

		    	<input ng-if="type('toggle', cmd)" type="checkbox">

					<select ng-if="type('value', cmd)" id="{{cmd.command}}" class="form-control" ng-options="value for value in cmd.input.values" ng-model="test"></select>

					<span ng-if="type('range', cmd)">
						<input type="range" min="{{cmd.input.range[0]}}" max="{{cmd.input.range[1]}}">
					</span>

		    	<input ng-if="type('other', cmd)" type="text" class="form-control">

		    	<input ng-if="type('getter', cmd)" type="text" class="form-control" placeholder="Readonly" readonly>

		    </div>
		  </div>
		</form>
	</div>
	<script>
		var app = angular.module('App', []);

		app.directive('type', function(){
			return {
				restrict: 'a',
				link: function($scope, $ele, $attrs){
					console.log('input with type found', $ele[0], $attrs);
					if($attrs.type != 'range') return;

					var $value = $('<span>').appendTo($ele.parent());

					$value.html($ele[0].value);

					$ele.on('change', function(){
						$value.html(this.value);
					});
				}
			}
		});

		app.controller('Command-Ctrl', ['$scope', '$http', function($scope, $http){
			$scope.type = function(type, cmd){
				if(!cmd.type){
					var values = cmd.input && cmd.input.values;
					if(!cmd.input){
						cmd.type = 'getter';
					}
					else
					if(values && typeof values != 'string'){
						cmd.type = 'value'
					}
					else
					if(values && values.length == 2){
						if(values[0] == 0 && values[1] == 1){
							cmd.type = 'toggle';
						}
					}
					else
					if(cmd.input.range){
						cmd.type = 'range';
					}
					else{
						cmd.type = 'other';
					}
				}

				return cmd.type == type;
			};

			$http.get('/commands').then(function(res){
				$scope.commands = res.data;
			});
		}]);
	</script>
</body>
</html>